---
import Layout from "../layouts/Layout.astro";
import Modal from "../components/Modal.astro";
---
<Layout>
  <div data-webgl></div>
  <Modal />
</Layout>

<style lang="stylus">
html.is-hovering
  cursor pointer
[data-webgl]
  position relative
  z-index 10
</style>
